<?xml version="1.0" ?>
<config>
    <modules>
        <Springtimesoft_Raygun>
            <version>1.0.0</version>
        </Springtimesoft_Raygun>
    </modules>
    <global>
        <helpers>
            <springtimesoft_raygun>
                <class>Springtimesoft_Raygun_Helper</class>
            </springtimesoft_raygun>
        </helpers>
        <models>
            <springtimesoft_raygun>
                <class>Springtimesoft_Raygun_Model</class>
            </springtimesoft_raygun>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <springtimesoft_raygun>
                        <class>Springtimesoft_Raygun_Model_Observer</class>
                        <method>registerHandlers</method>
                    </springtimesoft_raygun>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <default>
        <springtimesoft_raygun>
            <springtimesoft_raygun_group>
                <springtimesoft_raygun_enabled>1</springtimesoft_raygun_enabled>
                <springtimesoft_raygun_api_key></springtimesoft_raygun_api_key>
            </springtimesoft_raygun_group>
            <springtimesoft_raygun_advanced_group>
                <springtimesoft_raygun_async>0</springtimesoft_raygun_async>
                <springtimesoft_raygun_tags>php</springtimesoft_raygun_tags>
            </springtimesoft_raygun_advanced_group>
        </springtimesoft_raygun>
    </default>
</config>
